
:root {
    --blue: #a7c7da;
    --white: #ffffff;
    --red: #912f2f;
  }
body{
    background-color: rgb(235, 234, 233);
    font-weight: 500;
    line-height: 2;
    font-family: 'Lato', sans-serif;
    color: #272626  !important;
    justify-content:center;
    margin: 0;
    padding: 0;
}
.profile-image{
    width: 65%;
}
.welcome-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.menu-align{
    display: flex;
    justify-content: end;
    color: #581F1F;
}
.bg-color{
    background-color: var(--blue);
}   
.name{
    font-family:'Tangerine', serif; 
    font-size: 60px; 
    color: #581f1f;
    font-weight: 600;
    }
.arrow{
    display: none;
}
.bg-white{
    background-color: var(--white);
}

.text-about{
    transform: rotate(90deg);
    font-size: 30px;
    padding: 25%;
    font-weight: 600;
    line-height: 1.5;
    font-family: 'Times New Roman', Times, serif;
  }
.text-des{
    font-family: 'Times New Roman', Times, serif;
    padding: 5%;
}

@media (max-width: 667px) {
    .arrow{
        display: block;
    }
}

.project{
    padding: 4%;
    background-color: var(--blue);
}
.decoration{
    text-decoration: none;
    font-size: 10px;
}
.mg{
    margin-top: 2%;
}
.card{
    box-shadow: 2px 2px 2px #999797;
}

.contact-info{
    padding: 10%;
    background-color: #ffffff;
}

.card-text{
    font-size: 14px !important;
    line-height: 1.5;
    font-family: 'Times New Roman', Times, serif;
}
.card{
    height: 400px;
}