{% load static %}
<!DOCTYPE html>
<html>
    <title>Blog</title>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="./style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <h3 class="text-center">Comming Soon...</h3>
        <a href="/">back</a>
        <div class="text-center">
            <img src="{% static 'pic/comming_soon1.png' %}"  class="img-thumbnail"/>
        </div>
    </body>
</html>